/*
Buttons

Styleguide 3.8
*/
/*
Button Object

Display an anchor tag as a button.

.btn           - Display an element as an button.
.btn:hover     - Standard hover styling for buttons.
.btn.btn--full - Set the button width to the width of it's parent element.
.btn.btn--solid - A solid background modifier.

Markup:
<button class="{$modifiers}">Send button</button>
<input type="button" class="{$modifiers}" value="Button" />
<input type="reset" class="{$modifiers}" value="Reset" />
<input type="submit" class="{$modifiers}" value="Submit" />
<a class="{$modifiers}">An anchor element.</a>

Styleguide 3.8.1
*/
%btn,
.btn {
  display: inline-block;
  @include rem(margin-bottom, $half-spacing);
  /**
   * Set in em's so we can change the size of the button depending on the font-size.
   */
  padding: 1em 3em;
  border: 2px solid currentColor;
  border-radius: $brand-border-radius;
  cursor: pointer;
  font-family: $interstateRegular;
  font-weight: normal;
  line-height: 1;
  color: map-get($brand-colors, primary);
  vertical-align: top;
  transition: all .3s ease;

  &,
  &:hover {
    text-decoration: none;
  }
  &:hover {
    border-color: map-get($brand-colors, primary);
    background: map-get($brand-colors, primary);
    color: #FFF;
  }
}

%btn--full,
.btn--full {
  display: block;
  text-align: center;
  /**
   * The following is so that this class works properly on inputs as well as anchor tags.
   */
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.btn--solid {
  border-color: map-get($brand-colors, primary);
  color: #FFF;
  background: map-get($brand-colors, primary);
}