/*
Rulers

Styleguide 3.10
*/

/*
Default horizontal ruler

Markup:
<hr>

Styleguide 3.10.1
*/
%hr,
hr {
  /**
  * Address differences between Firefox and other browsers.
  */
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid color-adjust($content-background, 20%);
  padding: 0;
  @extend %u-m0;
  @extend %u-mb;
}
